<html xmlns="http://www.thymeleaf.org">
<head>
	<title>Enter hotel Details</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	crossorigin="anonymous">
</head>
<body>

<div class="container">
		<h2>Enter Hotel Details</h2>
		<hr/>
		
		<form th:action="@{/saveHotel}" th:object="${hotels}" method="POST">
			<input type="text" th:field="*{cityName}" placeholder="Enter city name" class="form-control col-4 mb-3"/>
			<input type="text" th:field="*{hotelName}" placeholder="Enter hotel name" class="form-control col-4 mb-3"/>
			<input type="number" th:field="*{contactNumber}" placeholder="Enter contact number" class="form-control col-4 mb-3"/>
			<input type="email" th:field="*{email}" placeholder="Enter email id" class="form-control col-4 mb-3"/>
			<button class="btn btn-primary" type="submit">Save</button>	
			<input type="hidden" th:field="*{id}"/>
			
		</from>
		
		<hr/>
		<a th:href="@{/list}" class="btn btn-primary mb-2">View List</a>
		<a th:href="@{/}" class="btn btn-primary mb-2">Home</a>
		
		
		

</div>
</body>




</html>