<html xmlns="http://www.thymeleaf.org">
<head>
<title>Homepage</title>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

</head>
<body>
<h2 th:each="hotel:${hotels}" th:text="${hotel.hotelName}"></h2>
<hr/>

<h4 >City Name :</h4>
<h4>Email Id :</h4>
<h4>Contact Number :</h4>

<a th:href="@{/list}" class="btn btn-primary mb-2">List</a>
<a th:href="@{/}" class="btn btn-primary mb-2">Home</a>



</body>
</html>